%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@function rem($px) {
    @return $px / 16px+0rem;
    //@return $px;
  }

  @function darker($color, $tone) {
    $adjust: -16*$tone;
    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

@mixin cover(){
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin centered($axis: 'both') {
    position: absolute;
  
    @if ($axis == 'both') {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @if $axis == 'x' {
      left: 50%;
      transform: translateX(-50%);
    }
    @if $axis == 'y' {
      top: 50%;
      transform: translateY(-50%);
    }
    @if $axis == 'max' {
      bottom:0;
      left:0;
      right:0;
      top:0;
    }
    @if $axis == 'fullX' {
      left:0;
      right:0;
    }
    @if $axis == 'fullY' {
      top:0;
      bottom:0;
    }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}