.btn {
    @include ubuntu (medium);
    font-size: 13px;
    display: inline-block;
    background: $tomato;
    padding: 13px 15px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}