.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo__image {
    max-width: rem(94px);
}

.header-menu {
    display: flex;
    align-items: center;
    /*text-align: right;*/
    /*margin-left: auto;*/
}

.nav {
    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    &:last-child {
        .nav__link::after {
            display: none;
        }
    }
}

.nav__link {
    @include ubuntu(medium);
    font-size: rem(13px);
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &::after {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: #fff;
        margin: 0 16px;
    }
}