.reviews {
    background: #000;
    position: relative;
}

.reviews__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
width: 25%;
height: 50%;
background: center center / cover  no-repeat;
}