.we-best {
    background: url("../img/background/best.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    @include phones {
        align-items: flex-start;
        padding-top: rem(50px);
    }
}

.we-best__list {
    display: flex;
    @include phones {
        flex-direction: column;
    }
}
  
  .we-best__item {
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
        flex-direction: row;
        width: 100%;
    }

  
    &:last-child {
      margin-right: 0;
    }
  }

  .we-best__icon {
    margin-bottom: rem(15px);
    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
        width: 30%;
    }
  }

  .we-best__icon-pic {
      display: inline-block;
      height: 5rem;      
  }

  .we-best__title {
      @include lifehack;
      font-size: rem(24px);
      color: $dark-grey;
      margin-bottom: 10px;
  }

  .we-best__text {
      @include ubuntu (light);
      font-size: rem(14px);
  }